@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Rubik", sans-serif;
  }
  h1 {
    @apply md:text-6xl text-5xl text-s-dark-blue font-medium;
  }
  h2 {
    @apply md:text-4xl text-2xl  text-s-dark-blue font-medium;
  }
  h3 {
    @apply md:text-3xl text-xl text-s-dark-blue font-medium;
  }
  h4 {
    @apply md:text-xl text-xl text-s-dark-blue font-normal;
  }
  .scrollContainer::-webkit-scrollbar {
    width: 1em;
  }

  .scrollContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .scrollContainer::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}
@layer components {
  .fluid-container {
    @apply px-6 md:container md:mx-auto;
  }
  .bg1 {
    background: url("/src/images/white-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bg2 {
    background: url("/src/images/white-bg-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bg-paralax {
    background-attachment: fixed;
  }
  .disable {
    opacity: 0.5;
  }
  .enable {
    opacity: 1;
  }
}
@layer utilities {
  .show {
    margin-right: 0;
  }
}
